{% extends('base.html.twig') %}
{% block title %}Symfony Tutorials!{% endblock %}
{% block body %}
	{% include('inc/navber.html.twig') %}

	<h1 class="mt-5">{{article.title}}</h1>
	<p>{{article.body}}</p>

	<hr>

	<a href="/"> Go Back </a>

{% endblock %}